@-webkit-keyframes blink {
    0%   { border-color:#6F3CC1; }
    50%  { border-color:#973CC1; }
    100% { border-color:#C13CBB; }
}
@-moz-keyframes blink {
    0%   { border-color:#6F3CC1; }
    50%  { border-color:#973CC1; }
    100% { border-color:#C13CBB; }
}
@-ms-keyframes blink {
    0%   { border-color:#6F3CC1; }
    50%  { border-color:#973CC1; }
    100% { border-color:#C13CBB; }
}
.dropzone {
    width: 600px;
    height: 500px;
}
.dropzone .dz-message span {
    font-family: 'Open Sans', sans-serif;
    font-size: 27px;
    line-height: 400px;
}
.showanim {
    -webkit-animation: blink 1s infinite;
    -moz-animation:    blink 1s infinite;
    -ms-animation:     blink 1s infinite;
    border: 2px solid;
}